<!DOCTYPE html>
<html>
<head>
  <title>Store Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

<div id="navbar">
  <%= image_tag("logo.png") %>

  <div id="nav">
    <ul>
      <li><%= link_to 'Store', store_path %></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</div>

<div id="columns">
  <div id="main">
      <%= yield %>
  </div>
  <% if @cart %>
  <div id="cart">
    <%= render @cart %>
  </div>
  <% end %>
</div>


</body>
</html>
